<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553485446477-suuscgf5jn9h4cnb0gbalmphbfk23bjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553485446477-suuscgf5jn9h4cnb0gbalmphbfk23bjq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>553485446477-50m2iu8ilkk6cmlmkjhu9to5g92vd213.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBX1zic-m80cIIwC6h8DQVeVMHmjTL--gs</string>
	<key>GCM_SENDER_ID</key>
	<string>553485446477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.grabandgoo</string>
	<key>PROJECT_ID</key>
	<string>grab-and-go-7i4eqy</string>
	<key>STORAGE_BUCKET</key>
	<string>grab-and-go-7i4eqy.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553485446477:ios:1e3000d4af0d5d638ddb04</string>
</dict>
</plist>